<html>

<body class="worksbody">
    <br />
    <ul>
        <h1>Works</h1>
        <ul><br />
            <h4> The Metamorphosis (1915)</h4>
            <p>
                Metamorphosis is a novella written by Franz Kafka which was first published in 1915.
                One of Kafka's best-known works, Metamorphosis tells the story of salesman Gregor Samsa, who wakes one
                morning to find
                himself inexplicably transformed into a huge insect (ungeheueres Ungeziefer, lit. "monstrous vermin")
                and subsequently struggles
                to adjust to this new condition. The novella has been widely discussed among literary critics, with
                differing interpretations being offered.
                In popular culture and adaptations of the novella, the insect is commonly depicted as a cockroach.
            </p>
        </ul>
        <ul>
            <br />
            <h4>Jackals and Arabs (1919)</h4>
            <p>
                A European traveler from the North, accompanied by Arab guides, is camped in the desert. When night
                falls,
                and the Arabs are at a distance, the traveler is accosted by talking jackals. The jackals speak of an
                age-old
                hatred for Arabs, whom they associate with uncleanliness. They relate a belief passed down from their
                ancestors,
                that a man such as the protagonist would be the one to "end the quarrel which divides the world in two".
                The jackals
                attempt to enlist the traveler's assistance in destroying them, offering him old rusted scissors with
                which to slit the
                throats of the Arabs.At this moment an Arab happens upon the discussion, and cracks his whip, "laughing
                cheerfully".
                He declares the fondness of Arabs for jackals, and the Arabs bring out the carcass of a camel that had
                died in the night.
                The jackals begin to feast on it uncontrollably, and the Arab whips several of them as they tear at the
                flesh of the carcass,
                until the European interferes. The Arab agrees to stop, and the story ends: "We’ll leave them to their
                calling. Besides, it’s time
                to break camp. You’ve seen them. Wonderful creatures, aren’t they? And how they hate us.”
            </p>
        </ul>
        <ul>
            <br />
            <h4>The Trial (1925)</h4>
            <p>
                The Trial is a novel written by Franz Kafka in 1914 and 1915 and published posthumously on 26 April
                1925.
                One of his best known works, it tells the story of Josef K., a man arrested and prosecuted by a remote,
                inaccessible authority,
                with the nature of his crime revealed neither to him nor to the reader. Heavily influenced by
                Dostoevsky's Crime and Punishment
                and The Brothers Karamazov, Kafka even went so far as to call Dostoevsky a blood relative. Like Kafka's
                two other novels, The Trial
                was never completed, although it does include a chapter which appears to bring the story to an
                intentionally abrupt ending.After Kafka's
                death in 1924 his friend and literary executor Max Brod edited the text for publication by Verlag Die
                Schmiede. The original manuscript is
                held at the Museum of Modern Literature, Marbach am Neckar, Germany. The first English-language
                translation, by Willa and Edwin Muir, was
                published in 1937.[3] In 1999, the book was listed in Le Monde's 100 Books of the Century and as No. 2
                of the Best German Novels of the
                Twentieth Century.
            </p>
        </ul>
    </ul>
    </ul>
</body>

</html>